### Simple pyramid

In [6]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
for i in range(5,0,-1):
    for j in range(5, 5-i,-1):
        print(j, end = " ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [8]:
for i in range(5, 0, -1):
    for j in range(i):
        print(i, end = " ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [9]:
for i in range(6,0,-1):
    for j in range(1, i):
        print(j, end = " ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [10]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(i, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [11]:
for i in range(5, 0,-1):
    for j in range(6,i,-1):
        print(i, end = " ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [12]:
for i in range(5, 0,-1):
    for j in range(5,i-1,-1):
        print(j, end = " ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [13]:
for i in range(5):
    for j in range(5-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print(j+1, end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [14]:
for i in range(5):
    for j in range(5-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print(i+1, end=" ")
    print()

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [15]:
for i in range(5):
    for j in range(5-i-1):
        print(" ", end=" ")
    for j in range(i+1, 0, -1):
        print(j, end=" ")
    print()

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [16]:
for i in range(1, 6):
    for j in range(i, 0, -1): 
        print(j, end = " ") 
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [17]:
c = 1
st = 2
for i in range(3):
    for j in range(1, st): 
        print(c, end=" ") 
    c += 1
    print() 
    st = st+1

1
2 2
3 3 3

In [18]:
c = 1
st = 2
for i in range(3):
    for j in range(1, st): 
        print(c, end=" ") 
    c += 1
    print() 
    st = st+2

1
2 2 2
3 3 3 3 3

In [19]:
for i in range(0, 5):
    for j in range(0, i+1):
        print(j*i, end = " ")
    print()

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16

In [22]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i*2-1, end = " ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [21]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i*i, end = " ") #print(i**2, end = " ") can also be written
    print()

1
4 4
9 9 9
16 16 16 16
25 25 25 25 25